astroid==2.8.5
click==7.1.2
colorama==0.4.4
isort==5.10.1
lazy-object-proxy==1.6.0
mccabe==0.6.1
platformdirs==2.4.0
pylint==2.11.1
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
python-dotenv==0.19.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
toml==0.10.2
typing_extensions==4.0.0
wrapt==1.13.3
